.searchWrapper {
  padding: 8px 13px;
}

.searchBar {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.searchField {
  padding: 1px 5px;
  font-size: 1.3em;
  width: 400px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid #bbb;
  color: #4d4d4d;
}

.searchBar button {
  font-size: 1.3em;
  padding: 0 8px;
  box-sizing: border-box;
  margin-left: 5px;
  outline: none;
  border: 2px solid #04eba1;
}

.searchBar button:hover {
  background-color: #04eba1;
}

.searchBar button:active {
  background-color:  #23be8d;
}

.results {
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.results .header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.results .items {
  flex: 1 1 auto;
  position: relative;
  overflow: auto;
}

.activeItem {
  background-color: #ccc;
}

.favIconUrl {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.results .info {
  font-weight: bold;
}
.results .back {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
.results li a {
  color: #4d4d4d;
  text-decoration: none;
  cursor: pointer;
  font-weight: 300;

  counter-increment: item;
  width: 440px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results ol {
  list-style: none;
  counter-reset: item;
  padding: 0;
  margin: 0;
  /* padding-left: 6px; */
}

.results li {
  display: flex;
  padding: 5px 0;
}

.results li:hover {
  background-color: #ccc;
}

/* .results li:before {
  margin-right: 5px;
  content: counter(item);
  background: #04eba1;
  border-radius: 100%;
  color: #444;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  width: 18px;
} */


