.searchWrapper {
  padding: 8px 13px;
  /* min-height: 100px; */
  /* max-width: 100px; */
  max-height: 400px;
  overflow: scroll;
}

.searchBar {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.searchField {
  font-size: 1.2em;
  width: 400px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #bbb;
}

.searchBar button {
  /* width: 200px; */
  font-size: 1.2em;
  padding: 0 8px;
  box-sizing: border-box;
  margin-left: 5px;

  /* font-weight: bold; */
  outline: none;

  border: 1px solid #04eba1;
}

.searchBar button:hover {
  background-color: #04eba1;
}

.searchBar button:active {
  background-color:  #23be8d;

}

/* .resultItem {
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.results .info {
  font-weight: 400;
  /* text-transform: uppercase; */
}
.results .back {
  margin: 10px 0;
  cursor: pointer;
  color: #333;
}
.results a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-weight: 300;
}

/* .results a:hover {
  font-weight: 400;
  background: #bbb;
} */

.results ol {
  list-style: none;
  counter-reset: item;
  padding: 0;
  padding-left: 6px;
}

.results li {
  counter-increment: item;
  margin-bottom: 10px;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.results li:hover {
  background-color: #eee;
}

.results li:before {
  margin-right: 5px;
  content: counter(item);
  background: #04eba1;
  border-radius: 100%;
  color: #444;
  font-weight: bold;
  width: 1.3em;
  padding: 3px;
  text-align: center;
  display: inline-block;
}
